.col-md-12 > .panel > .panel-body {
  padding: 5px !important;
}

td  > a > i.glyphicon-trash {
  color: #ff0505;
  padding-left: 10px;
}

td  > a > i.glyphicon-ban-circle {
  color: #ff0505;
  padding-left: 10px;
}

td  > a > i.glyphicon-ok {
  color: #3C3;
  padding-left: 10px;
}

td  > a > i.glyphicon-remove {
  color: #ff0505;
  padding-left: 10px;
}

.tab-pane {
  margin: 20px 20px;
}
