<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>SalamiIOT</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="salamiGovernanceApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-default" role="navigation" ng-controller="MenuCtrl">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Salami Web Console</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/')}"><a href="#/">My kitchens</a></li>
          <li ng-class="{ active: isActive('/devices')}"><a ng-href="#/devices" ng-if="username">Devices</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" ng-if="username">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false"> <i class="glyphicon glyphicon-user"></i> {{username}} <span
              class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/profile"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
              <li><a href="" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div ng-controller="NotificationsCtrl">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
    </uib-alert>
  </div>
  <div ng-view=""></div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/menu.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/keys.js"></script>
<script src="scripts/controllers/devices.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/services/resource.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/services/login.js"></script>
<script src="scripts/services/userdata.js"></script>
<script src="scripts/services/util.js"></script>
<script src="scripts/services/config.js"></script>
<script src="scripts/filters/kitchenstatus.js"></script>
<script src="scripts/controllers/kitchenmodal.js"></script>
<script src="scripts/controllers/keymodal.js"></script>
<script src="scripts/services/messages.js"></script>
<script src="scripts/controllers/notifications.js"></script>
<script src="scripts/controllers/devicemodal.js"></script>
<script src="scripts/directives/compareto.js"></script>
<!-- endbuild -->
</body>
</html>
