<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success btn-sm pull-right" disabled>Associate Device</button>
    <table class="table table-bordered table-condensed table-striped">
      <caption>Manage your devices.</caption>
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Key</th>
        <th>Created on</th>
        <th>Passport</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="device in devices">
        <th scope="row">1</th>
        <td>{{device.name}}</td>
        <td>{{device.description}}</td>
        <td>{{device.api_key.api_key}}</td>
        <td>{{device.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td><a href="" ng-click="openDeviceDeleteModal(device)"><i class="glyphicon glyphicon-remove"></i> Revoke</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <script type="text/ng-template" id="devicedeletemodalcontent.html">
    <div class="modal-header">
      <h3 class="modal-title">Delete {{device.name}}</h3>
    </div>
    <div class="modal-body">
      <h3>Are you sure you want to revoke the passport for the device {{device.name}}? </h3>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</div>

