<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success pull-right" ng-click="openKitchenModal()">Create Kitchen</button>
    <table class="table table-bordered table-condensed table-striped">
      <caption>Manage your kitchens.</caption>
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Key</th>
        <th>Created on</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="kitchen in kitchens">
        <th scope="row">{{$index + 1}}</th>
        <td>{{kitchen.name}}</td>
        <td>{{kitchen.api_key.api_key}}</td>
        <td>{{kitchen.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>
          <span class="label" ng-class="{'label-success' : kitchen.status == 1, 'label-danger' : kitchen.status == 0}">
            {{kitchen.status | statusFilter}}</span>
        </td>
        <td>
          <a href="" ng-click="openKitchenModal(kitchen)"><i class="glyphicon glyphicon-edit"></i></a>
          <a href="" ng-click="removeKitchen(kitchen)"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <script type="text/ng-template" id="kitchenmodalcontent.html">
    <div class="modal-header">
      <h3 class="modal-title">{{kitchen.name}}</h3>
    </div>
    <div class="modal-body">
      <form name="kitchenForm">
        <div class="form-group" show-errors>
          <label for="kitchen-name">Name</label>
          <input type="text" class="form-control" id="kitchen-name" name="kitchenName" placeholder="Kitchen name"
                 ng-model="kitchen.name" ng-required="true">
        </div>
        <div class="form-group" show-errors>
          <label for="statusSelect">Status</label>
          <select class="form-control" id="statusSelect" name="statusSelect" ng-model="kitchen.status"
                  ng-required="true">
            <option value="">Select a status</option>
            <option value="1" ng-selected="kitchen.status == 1">Enabled</option>
            <option value="0" ng-selected="kitchen.status == 0">Disabled</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()"
              ng-disabled="kitchenForm.statusSelect.$pristine && kitchenForm.kitchenName.$pristine">OK
      </button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="kitchendeletemodalcontent.html">
    <div class="modal-header">
      <h3 class="modal-title">Delete {{kitchen.name}}</h3>
    </div>
    <div class="modal-body">
      <h3>Are you sure you want to delete {{kitchen.name}}? </h3>
      <h4>All keys and devices associated with this kitchen will be deleted too!!</h4>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</div>
