<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success pull-right" ng-click="openKeyModal()">Generate Key</button>
    <table class="table table-bordered table-condensed table-striped">
      <caption>Manage your keys.</caption>
      <thead>
      <tr>
        <th>#</th>
        <th>Key</th>
        <th>Kitchen</th>
        <th>Created on</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="key in keys">
        <th scope="row">{{$index + 1}}</th>
        <td>{{key.api_key}}</td>
        <td>{{key.kitchen.name}}</td>
        <td>{{key.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>
          <span class="label" ng-class="{'label-success' : key.status == 1, 'label-danger' : key.status == 0}">
            {{key.status | statusFilter}}</span>
        </td>
        <td>
          <a href="" ng-if="key.status == 1" ng-click="disableKey(key)"><i
            class="glyphicon glyphicon-ban-circle"></i></a>
          <a href="" ng-if="key.status == 0" ng-click="enableKey(key)"><i class="glyphicon glyphicon-ok"></i></a>
          <a href="" ng-click="removeKey(key)"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <script type="text/ng-template" id="keysmodalcontent.html">
    <div class="modal-header">
      <h3 class="modal-title">{{key.api_key}}</h3>
    </div>
    <div class="modal-body">
      <form name="keyForm">
        <div class="form-group" show-errors>
          <label for="statusSelect">Status</label>
          <select class="form-control" name="statusSelect" id="statusSelect" ng-model="key.status" ng-required="true">
            <option value="1">Enabled</option>
            <option value="0">Disabled</option>
          </select>
        </div>
        <div class="form-group" show-errors>
          <label for="kitchenSelect">Kitchen</label>
          <select class="form-control" name="kitchenSelect" id="kitchenSelect"
                  ng-options="kitchen as kitchen.name for kitchen in kitchens track by kitchen.id"
                  ng-model="key.kitchen" ng-required="true">
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()"
              ng-disabled="keyForm.statusSelect.$pristine || keyForm.kitchenSelect.$pristine">OK
      </button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="keydeletemodalcontent.html">
    <div class="modal-header">
      <h3 class="modal-title">Delete {{key.api_key}}</h3>
    </div>
    <div class="modal-body">
      <h3>Are you sure you want to delete {{key.api_key}}? </h3>
      <h4>All devices associated with this key will be deleted too!!</h4>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</div>
