<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <uib-tabset active="active">
      <uib-tab index="0" heading="Account Settings">
        <form name="userForm" class="form-horizontal" ng-submit="updateSettings()">
          <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                     ng-model="user.username"
                     ng-disabled="true">
            </div>

          </div>
          <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="firstName" placeholder="First name"
                     ng-model="user.first_name">
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="lastName" placeholder="Last name"
                     ng-model="user.last_name">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email address</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                     ng-model="user.email"
              >
            </div>
          </div>
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit
            </button>
          </div>
        </form>
      </uib-tab>
      <uib-tab index="1" heading="Security">
        <form name="passwordForm" class="form-horizontal" ng-submit="updatePassword()">
          <div class="form-group" show-errors="">
            <label for="oldPassword" class="col-sm-3 control-label">Old password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old password"
                     ng-model="user.password" ng-required="true">
            </div>

          </div>
          <div class="form-group" show-errors="">
            <label for="newPassword" class="col-sm-3 control-label">New password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password"
                     ng-model="user.newPassword" ng-required="true">
            </div>

          </div>
          <div class="form-group" show-errors="">
            <label for="repeatNewPassword" class="col-sm-3 control-label">Repeat new password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="repeatNewPassword" name="repeatNewPassword"
                     placeholder="Repeat new password"
                     ng-model="user.repeatNewPassword" ng-required="true">
            </div>

          </div>
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid">Submit
            </button>
          </div>
        </form>
      </uib-tab>
    </uib-tabset>

  </div>
</div>
